{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block css %}
    {% endblock %}
    <title>ToDo app</title>
</head>
<body>
    {% block navbar %}
    <nav>
        <h1>ToDo APP</h1>

        <ul class="nav-list">
            {% if not user_is_authenticated %}
            <a href="">
                <li class="nav-item">LogIn</li>
            </a>
            <a href="{% url 'singup' %}">
                <li class="nav-item">SignUp</li>
            </a>
            <li class="nav-item">About
            </li>
            {% else %}
            <li class="nav-item">About
            </li>
            <a href="{% url 'logout' %}">
                <li class="nav-item">Logout</li>
            </a>
            {% endif %}
        </ul>
    </nav>
    {% endblock %}
    
    <main>
        {% block content %}

        {% endblock %}
    </main>
    
    {% block footer %}
    <footer>

    </footer>
    {% endblock %}
    
</body>
</html>